{% extends 'base.html' %}

{% block content %}
  <div class="article">
    <p class="card-text"><small class="text-muted"><a href="{{ url_for('home') }}">home</a>/{{ article.title }}</small></p>
    <h1 class="article_title">{{ article.title }}</h1>
    <p class="card-text"><small class="text-muted">{{ article.date_posted }}</small></p>
    <p class="card-text"><small class="text-muted">5 comments</small></p>
    <p class="card-text">{{ article.content|safe}}</p>
  </div>

<!-- Display Comments -->
<div class="">
  <div class="mt-5">
    <div class="card border-light mb-3">
      <div class="card-header mb-4">Comments</div>
      <dl>
        {% if article.comments %}
          {% for comment in article.comments %}
            <dt class="border-top">{{ comment.title }}</dt>
            <dd class="mb-5">{{ comment.content }}</dd>
          {% endfor %}
        {% endif %}
      </dl>
    </div>
  </div>
</div>

<!-- Add comment -->
  <div class="mt-5 ">
    <div class="card border-light mb-3">
      <div class="card-header mb-4">Add Comment</div>
        <form class="" action="" method="post">
          {{ form.csrf_token }}
          <div class="form-group">
            {{ form.comment_title.label }}
            {{ form.comment_title(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.comment_content.label }}
            {{ form.comment_content(class="form-control") }}
          </div>
          {{ form.comment_submit(class="btn btn-danger") }}
        </form>
      </div>
  </div>
{% endblock %}
